<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Boards</title>
</head>

<body>
    <div id="contentBox">
        <div id="leftSide">
            <div id="header">
                <h1>Welcome to the Forum Boards <%- user %></h1>
            </div>
            <div id="forumList">
                [Insert Forum List Here]
            </div>
        </div>
        <div id="rightSide">
            <div id="sidebar">
                [Insert Sidebar Here]
            </div>
        </div>
    </div>
</body>

</html>