<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- user %> Profile</title>
    <style>
        #box {
            width: 75%;
            margin: 0 auto;
            border: 1px solid rgb(0, 0, 0);
            padding: 10px;
            height: 100%;
           
        }

        #header {
            text-align: center;
            border: 1px solid rgb(168, 115, 35);
            padding: 10px;
           color: rgb(245, 198, 193);
            height: 10%;
            background-color: rgb(226, 121, 79);
        }
    </style>
</head>

<body>
    <div id="box">
        <div id="header">
            <h1>Hello, <%- user %></h1>
        </div>
        <div name="links">
            <a href="/forum">Click here to go to the Forum Board</a>
        </div>
        <div name="pastPosts">

        </div>
    </div>
</body>

</html>